---
import { PROJECTS } from '../projects'
import InfoProject from '../components/InfoProject.astro'
import Layout from '../layouts/Layout.astro'

export function getStaticPaths() {
  return PROJECTS.map((project) => {
    return {
      params: {
        project: project.slug,
      },
    }
  })
}

const { project } = Astro.params
const index = PROJECTS.findIndex((p) => p.slug === project)
const info = PROJECTS[index]
const number = `${index + 1}`.padStart(2, '0')
const laptop = info.laptop
---

<Layout title={`JS Project #${number}: ${info.title}`}>
  <main
    transition:name={`animation-${project}`}
    class="flex h-screen w-screen flex-col"
  >
    {
      laptop ? (   
          <div class="w-full sm:w-4/5 h-full sm:h-auto sm:aspect-16/10 sm:max-w-6xl m-auto mb-0 sm:rounded-t-4xl sm:rounded-b-lg overflow-hidden sm:border-1 sm:border-slate-400 sm:bg-black sm:p-4 sm:pb-5">
            <iframe
              title={`${info.title}`}
              class="w-full h-full sm:rounded-2xl"
              src={`/projects/${project}/index.html`}
            />
          </div>
          <div class="hidden sm:block max-w-7xl m-auto mt-0">
            <img src="/macbook-mockup.avif" alt="" />
          </div>
          
      ) : (
          <iframe
            title={`${info.title}`}
            class="w-full h-full rounded-2xl"
            src={`/projects/${project}/index.html`}
          />
      )
    }
    <InfoProject info={{ ...info, number }} />
  </main>
</Layout>
